@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import "./variables.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font_14px {
  font-size: 14px;
}
.font_16px {
  font-size: 16px;
}
.font_18px {
  font-size: 18px;
}

.text_align_center {
  text-align: center;
}

.font_buttons {
  font-size: 1.5em;
}

.font_dog {
  font-family: "Yellowtail", cursive;
  font-weight: normal;
}

.button {
  padding: 0.3em 4em;
  text-align: center;
  margin: auto;
  color: $dark_color;
  border-radius: 6px;
}

.back_top_button {
  width: 60px;
  height: 60px;
  color: $dark_color;
  background-color: $green_color;
  opacity: 0.5;
  position: fixed;
  border-radius: 50em;
  right: 40px;
  bottom: 20px;

  img {
    margin: 8px 6px;
    position: absolute;
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: $green_color;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

.button_primary {
  background-color: $primary_color;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary_color_hover;
    color: $white_color;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

.button_green {
  background-color: $green_color;

  &:hover,
  &:focus,
  &:active {
    background-color: rgb(164, 240, 230);
    color: $white_color;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

/* Components */
nav {
  width: 100%;
  height: 68px;
  background-color: $dark_color;
  margin: auto;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 0;
  position: fixed;
  z-index: 1;

  .logo_navbar {
    width: 200px;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-top: 4px;
    display: inline-flex;
    img {
      border-radius: 50em;
    }
    span {
      color: $green_color;
      font-family: "Yellowtail", cursive;
      font-size: 20px;
      margin: 20px 0 0 8px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: start;
    padding: 0;

    li {
      margin: 0 2%;
      padding: 0;
      a {
        color: $green_color;
        text-decoration: none;
        font-size: 1.5em;
        font-family: "Yellowtail", cursive;
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
          color: $primary_color;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-weight: bold;
  }
}

/* animations*/
.flip-vertical-left {
  -webkit-animation: flip-vertical-left 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  z-index: 0;
}
@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
