.container {
  padding: 10rem 2rem;
}

.main {
  min-height: 100vh;
  display: flex;

  .grid {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;

    .card {
      width: 300px;
      height: 500px;
      border-radius: 6px;
      padding: 6px;
      background-color: #bdb3a5;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      margin: 10px 0;

      .avatar {
        width: 50px;
        height: auto;
        border-radius: 50em;
      }
      
      .card_title {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        color: #333;
        font-weight: bold;
        font-size: 14px;
        padding: 8px 0;
      }

      .card_image {
        width: 285px;
        height: 250px;
        border-radius: 8px;
        img {
          border-radius: 4px;
          object-fit: cover;
          object-position: left top;
          width: 284px;
          height: 220px;
        }
      }
      .card_description {
        display: -webkit-box;
        max-width: 280px;
        text-align: justify;
        font-size: 14px;
        font-weight: 600;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: row;
  }
}
